{% extends 'main_base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
   <div class="row">
       <form method="post">
           {% if error %}
               <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
           {% endif %}

           <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
           <label for="inputEmail">Email</label>
           <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control"
                  autocomplete="email" required autofocus>
           <label for="inputPassword">Password</label>
           <input type="password" name="password" id="inputPassword" class="form-control"
                  autocomplete="current-password" required>

           <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

           <button class="btn btn-lg btn-primary mt-4" type="submit">
               Sign in
           </button>
           <a href="{{ path('app_register') }}" class="btn btn-secondary btn-lg mt-4 text-white float-end">Register</a>
       </form>
   </div>
{% endblock %}
