{% extends 'base.html.twig' %}

{% block title %}UserSetting index{% endblock %}

{% block body %}
    <h2 class="text-gray-900 dark:text-gray-300 text-2xl">App settings</h2>
    {% include "user_setting/_form.html.twig" %}


{% endblock %}