###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/framework-bundle ###
/.env.install
###< symfony/framework-bundle ###


###> symfony/phpunit-bridge ###
###< symfony/phpunit-bridge ###
.idea
/logs/
/docker/

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build_/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###
/tests/
/DumpDB/
/DumpDB/public/
/public/build/
/.env.prod
