###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
###> symfony/framework-bundle ###
/.env.install
###< symfony/framework-bundle ###
.idea
/logs/
/docker/
/tests/
/public/build
/.env.prod
/migrations/
/public/build/

###> symfony/asset-mapper ###
#/public/assets/
/assets/vendor/
###< symfony/asset-mapper ###
/bin/tailwindcss-linux-x64
/public/assets/app.tailwind.css
/composer.phar

###> phpstan/phpstan ###
phpstan.neon
###< phpstan/phpstan ###
