{% extends 'base.html.twig' %}

{% block title %}Edit Category{% endblock %}

{% block body %}
    <h2 class="text-gray-900 dark:text-gray-300 text-2xl">Edit Category</h2>

    {{ include('category/_form.html.twig', {'button_label': 'Update'}) }}



{% endblock %}