{% extends 'base.html.twig' %}

{% block title %}New Category{% endblock %}

{% block body %}
    <h2 class="text-gray-900 dark:text-gray-300 text-2xl">Create new category</h2>

    {{ include('category/_form.html.twig') }}
{% endblock %}