@tailwind base;
@tailwind components;
@tailwind utilities;

tr.custom-row:hover {
    filter: invert(0.9);
    transition: 0.4s;
}

.sr-only {
    display: none;
}

svg.text-white {
    fill: #ffffff;
}

.bi {
    display: inline-block;
    width: 1rem;
    height: 1rem;
}

/*
 * Sidebar
 */

@media (min-width: 768px) {
    .sidebar .offcanvas-lg {
        position: -webkit-sticky;
        position: sticky;
        top: 48px;
    }

    .navbar-search {
        display: block;
    }
}

.sidebar .nav-link {
    font-size: .875rem;
    font-weight: 500;
}

.sidebar .nav-link.active {
    color: #2470dc;
}

.sidebar-heading {
    font-size: .75rem;
}

/*
 * Navbar
 */

.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
    padding: .75rem 1rem;
}

/*search-result*/
.wrapper-search-result {
    display: block;
    height: calc(100vh - 3.125rem);
    padding: .75rem 1rem;
    right: 0;
    top: 3em;
    position: fixed;
    background-color: rgba(0, 0, 0, .5);
    z-index: 2000
}

#search-result {
    height: calc(100vh - 3.125rem);
    overflow: auto;
}

.hidden {
    display: none !important;
}

.count {
    display: block;
    position: absolute;
    top: 5px;
    right: 15px;


}