{% extends 'base.html.twig' %}

{% block title %}New Budget{% endblock %}

{% block body %}
    <h2 class="text-gray-900 dark:text-gray-300 text-2xl">Create new budget</h2>

    {{ include('budget/_form.html.twig') }}
{% endblock %}