<a class="btn btn-outline-secondary float-end {{ aditional_class|default('') }} px-4 py-2 border border-gray-300 rounded-lg text-gray-700 hover:bg-gray-200"
   href="{{ app.request.headers.get('referer') ?: path('app_home') }}">
    {{ link_label|default('Back') }}
</a>