<a class="btn btn-success float-start {{ aditional_class|default('') }} px-4 py-2 bg-green-500 text-white rounded-lg hover:bg-green-600" href="{{ href }}">
    {{ link_label|default('Create') }}
</a>
