<a class="float-end {{ aditional_class|default('') }} bg-gray-300 px-4 py-2 border border-gray-300 rounded-lg text-gray-700 hover:bg-gray-200"
   href="{{ app.request.headers.get('referer') ?: path('app_home') }}">
    {{ link_label|default('back'|trans({}, 'base')) }}
</a>