<ul class="flex md:hidden">
    <li class="relative">
        <div class="dropdown inline-block">
            <button id="new"
                    class="text-white nav-link px-3 bg-transparent border-0 text-gray-800 hover:text-gray-600 focus:outline-none"
                    type="button" aria-expanded="false">
                New
            </button>
            <ul class="dropdown-menu absolute hidden bg-gray-800 text-white shadow-lg rounded-lg w-48 mt-1"
                id="dropdown_list">
                <li><a href="{{ path('app_transaction_new') }}"
                       class="dropdown-item w-full px-4 py-2 hover:bg-green-600 flex items-center">
                        {{ 'transaction'|trans({}, 'menu') }}
                        <svg class="bi inline-block ml-2 w-4 h-4">
                            <use xlink:href="#plus"></use>
                        </svg>
                    </a></li>
                <li><a href="{{ path('app_category_new') }}"
                       class="dropdown-item w-full px-4 py-2 hover:bg-green-600 flex items-center">
                        {{ 'category'|trans({}, 'menu') }}
                        <svg class="bi inline-block ml-2 w-4 h-4">
                            <use xlink:href="#plus"></use>
                        </svg>
                    </a></li>
            </ul>
        </div>
    </li>
    <li class="nav-item text-nowrap">
        <button id="burger" class="px-3 py-2 text-white bg-transparent border-0 hover:bg-gray-700 focus:outline-none"
                type="button">
            <svg class="bi text-white w-6 h-6">
                <use xlink:href="#list"></use>
            </svg>
        </button>
    </li>
</ul>