<div class="mb-3 me-3 flex items-center space-x-3">
    <span>Theme:</span>
    <div x-data="{ open: false, theme: 'auto' }">
        <button @click="open = !open" class="btn btn-bd-primary py-2 relative">
            <span class="visually-hidden" id="bd-theme-text">Toggle theme</span>
            <svg class="bi text-gray-800" width="1em" height="1em">
                <use xlink:href="#circle"></use>
            </svg>
        </button>
        <ul x-show="open" @click.away="open = false" class="absolute mt-2 bg-white shadow-lg rounded-lg w-48 z-10">
            <li>
                <button @click="theme = 'light'; open = false" :class="{ 'bg-gray-200': theme === 'light' }" class="dropdown-item flex items-center w-full px-4 py-2 hover:bg-green-600">
                    <svg class="bi me-2 opacity-50 theme-icon" width="1em" height="1em">
                        <use href="#sun-fill"></use>
                    </svg>
                    Light
                    <svg x-show="theme === 'light'" class="bi ms-auto text-green-600" width="1em" height="1em">
                        <use href="#check2"></use>
                    </svg>
                </button>
            </li>
            <li>
                <button @click="theme = 'dark'; open = false" :class="{ 'bg-gray-200': theme === 'dark' }" class="dropdown-item flex items-center w-full px-4 py-2 hover:bg-green-600">
                    <svg class="bi me-2 opacity-50 theme-icon" width="1em" height="1em">
                        <use href="#moon-stars-fill"></use>
                    </svg>
                    Dark
                    <svg x-show="theme === 'dark'" class="bi ms-auto text-green-600" width="1em" height="1em">
                        <use href="#check2"></use>
                    </svg>
                </button>
            </li>
        </ul>
    </div>
</div>
