{% if form %}
    {{ form_start(form) }}

    <div class="mt-4">
        <button class="btn btn-success">{{ button_label|default('Save') }}</button>
        <a class="btn btn-outline-secondary float-end" href="{{ path('app_transaction_index') }}">Back to list</a>
    </div>
    {{ form_end(form) }}
{% endif %}