{% extends 'base.html.twig' %}

{% block title %}Report{% endblock %}

{% block body %}
    <h1>Report</h1>
    {{ render_chart(chart) }}
    <h3>Transactions per period:</h3>
    {{ include('report/_form.html.twig') }}
    {% if transactionsList is not null  %}
        {{ include('report/_card.html.twig') }}
    {% endif %}


{% endblock %}
