<form method="post" action="{{ path('app_parent_category_delete', {'id': categories['parentCategory'].id}) }}"
      onsubmit="return confirm('Are' + ' ' + 'you sure you want to delete this item?');" class="float-end">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ categories['parentCategory'].id) }}">
    <button type="submit" class="px-4 py-2 bg-red-600 text-white rounded-md hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-red-500">
        Delete
    </button>
</form>

