<form method="post" action="{{ path('app_parent_category_delete', {'id': categories['parentCategory'].id}) }}"
      onsubmit="return confirm
('Are' + ' ' + 'you sure you want to delete this item?');" class="float-end">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ categories['parentCategory'].id) }}">
    <button class="btn {{ additional_class|default('btn-danger') }}">Delete</button>
</form>
