{% extends 'base.html.twig' %}

{% block title %}Edit Transaction{% endblock %}

{% block body %}
    <h1>Edit Transaction</h1>

    {{ include('transaction/_form.html.twig', {'button_label': 'Update'}) }}

    <div class="d-flex flex-row">
        {{ include('transaction/_delete_form.html.twig') }}
    </div>
{% endblock %}
