{% extends 'base.html.twig' %}

{% block title %}New transaction{% endblock %}

{% block body %}
    <h2 class="text-gray-900 dark:text-gray-300 text-2xl">{{ 'new.title'|trans({}, 'transaction') }}</h2>
    {{ include('transaction/_form.html.twig') }}
{% endblock %}